:root {
    --red: #cb0000;
  }
/*Global settings************Start*/
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
  
}

h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 8px;
}

/*Global settings************End*/

/**************************************************************************************************************************************/

/*mobile-menu section  //////// Start*/
.mobile-menu{
    display: none;
    min-width: 275px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #fff;

}
.mobile-menu .mobile-menu-logo{
    margin: 10px 13px 20px;
}
.mobile-menu .mobile-menu-logo a .mobile-logo-image{
    max-height:50px;
}
.mobile-menu ul li {
    background-color: transparent;
    transition: 2s border-bottom ease-in-out;
    border: none;
    
}
.mobile-menu ul li::after{
    content: '';
    width:80%;
    height: 1px;
    background-color: #fff;
    display: block;
    transition: 0.5s all ease-in;
    margin-top: 10px;
}
.mobile-menu ul li:hover:after{
    background-color: #000;
}
.mobile-menu ul li a{
    color: #000;
}

.mobile-menu .mobile-sub-menu{
    display: none;
}

.mobile-menu .mobile-menu-social{
    position: absolute;
    bottom: 0;
    left:0;
    margin:0 20px 20px;
}
.mobile-menu .mobile-menu-social span{
    color: #757575;
}
.mobile-menu .mobile-menu-social .social-icon{
    color: #757575;
    width: 25px;
    margin-left: 2px;
    height: 25px;
    display: inline-block;
    padding-left: 7px;
    transition: 0.6s all ease-in-out;
}
.mobile-menu .mobile-menu-social .social-icon:hover{
    background-color: #757575;
    border-radius: 50%;
    color: #fff;

}
.mobile-menu .mobile-menu-social .social-icon svg{
    font-size: 0.8rem;
}

.close-mobile-menu{
    width: 50px;
    height: 50px;
    background-color: rgba(21, 21, 21, 0.8);
    position: absolute;
    right: 0;
    display: none;
    z-index: 9;
}
.close-mobile-menu::before{
    width: 14px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -7px;
    content: "";
    background: #fff;
    transform: rotate(
45deg);
    -webkit-transform: rotate(
45deg);
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.close-mobile-menu::after{
    width: 14px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -7px;
    content: "";
    background: #fff;
    transform: rotate(
45deg);
    -webkit-transform: rotate(
-45deg);
}

/*end of mobile menu*/


/*Header section ////////// Start*/
/*****************************************************************************************************************/
header{
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    line-height: 50px;
    border-bottom: 1px solid #5b5b5e;
}
header .container{
    max-width: 1494px;
    margin: auto;
}
.logo-area{
    margin-top: 19px;
}
.logo-area svg{
    color: #fff;
}
.logo-area img{
    width: 80px;
    margin-top:-11px;
}

.nav-area a{
    font-weight: 600;
    color: #a0a0a1;
    transition: all 0.6s ease-in-out;
    font-size:12px ;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.nav-area a:hover{
    color: #fff!important;
}
.nav-area ul li{
    margin-right: 20px;
    text-transform: uppercase;
    
}

.nav-area ul li .t-active{
    color:#dadada;
}

.dropdown-menu a:hover{
    color: #111!important;
}

.services-menu{
    min-width: 920px;
    position: absolute;
    left: -226px;
    top: 45px;
}

.call-area{
    margin-top: 15px;
    margin-left: 35px;
}
.call-area a {
    color:#fff;

}
.call-area .call-link{
    margin-right: 10px;
}
/************************************************************************************************************************/

/*slider-start*/
.trust-overlay{
background-color:rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
z-index: 1;
position: absolute;
top:0;
}
#page-carousel .carousel-item img {
    -webkit-animation: thisthing 5s;
    -o-animation: thisthing 5s;
    animation: thisthing 5s;
}
@keyframes thisthing {
    from{
        transform:scale(1,1);
    }
    50%  {
        transform: scale(1.1,1.1);
    }
    to{
        transform:scale(1,1);
    }

}
#page-carousel .carousel-control-prev{
    z-index: 2;
}
#page-carousel .carousel-caption{
    bottom: 50%!important;
}
#page-carousel .carousel-caption::before{
    content: 'WE ARE TRUST CREATIVES';
    font-size: 3rem;
    -webkit-animation: beforetext 5s;
    -o-animation: beforetext 5s;
    animation: beforetext 5s;
    animation-name: beforetext;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    display: inline;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 3px;

}

@keyframes beforetext {
    from{
        content: 'WE ARE';
    }
    50%  {
        content: 'WE ARE';
    }
    to{
        content: 'WE ARE';
    }

}
#page-carousel .carousel-caption::after{
    content: 'WE ARE TRUST CREATIVES';
    font-size: 3rem;
    color: var(--red);
    font-weight: bold;
    -webkit-animation: thistext 5s;
    -o-animation: thistext 5s;
    animation: thistext 5s;
    animation-name: thistext;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    display: inline;
    font-size: 4rem;
    font-weight: bold;
    margin-left:5px;
    letter-spacing: 3px;

}

@keyframes thistext {
    from{
        content: 'UNIQUE';
    }
    50%  {
        content: 'AWESOME';
    }
    to{
        content: 'CREATIVE';
    }

}


.header-button{
    color: #787878 ;
    border: 0.5px solid #787878;
    background-color: transparent;
    display: inline-block;
    max-width: 153px;
    position: absolute;
    bottom: -84px;
    left: 44%;
    border-radius: 0;
    font-size: 0.8rem;
    padding: 10px 24px;
}

.header-button:hover{
    color: #fff;
}


/*slider-end*/

/*Header section  //////////End*/

/********************************about section****************************************Start**************************************/

#about-section h1{
    font-weight: bold;
}
#about-section p{
    color: rgba(49, 49, 49, 1);
    text-align: justify;
}
#about-section h5{
    color: rgba(49, 49, 49, 1);
    font-weight: 600;

}

#about-section svg{
    font-size: 2.3rem;
    color: var(--red);
}
.first-banner{
    background-image: url('../imgs/4-2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding-top: 140px;
}
.first-banner .text-overlay{
    display: none;
    width:100%;
    height: 50%;
    background-color: var(--red);;
    position: absolute;
    -webkit-animation: textoverlay 0.5s;
    -o-animation: textoverlay 0.5s;
    animation: textoverlay 0.5s;
    animation-name: textoverlay;
    animation-delay: 0;
    animation-direction: forward;
}
@keyframes textoverlay {
    25%{
        transform: translateX(200px) scale(0.5,1);

    }
    50%  {
        transform: translateX(400px) scale(0.75,1);
    }
    75%  {
        transform: translateX(600px) scale(0.25,1);
    }
    100%  {
       display: none;
    }
}

.first-banner h2{
    padding-bottom: 40px;
}
.divider-band{
    background-color: var(--red);;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.divider-band .container::before{
    content: '';
    background-color: #fff;
    width: 34%;
    height: 1px;
    position: absolute;
    left: 33%;
    transition: all 0.8s ease-in-out ;
}
.divider-band .container::after{
    content: '';
    background-color: #fff;
    width: 34%;
    height: 1px;
    position: absolute;
    left: 33%;
    transition: all 0.8s ease-in-out ;

}
.divider-band .container:hover::before{
    width: 40px;
}
.divider-band .container:hover::after{
    width: 40px;
}
.divider-band a{
    font-size: 2rem;
}
.divider-band a:hover{
    color: #fff!important;
}
/********************************about section****************************************End**************************************/
/********************************portfolio section****************************************Start**************************************/

.zoom-in{
    transform: scale(1.1);
}
#portfolio-section h1{
    font-weight: bold;
}
#portfolio-section .portfolio-box{
    margin-top: 25px;
}
#portfolio-section a{
   display: block;
   overflow: hidden;
}
#portfolio-section img{
    width: 100%;
    transition: all .7s ease-in-out;
}
#portfolio-section .portfolio-overlay{
    width: calc(100% - 29px)!important;
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    display: none;
}
#portfolio-section .portfolio-caption{
    position: absolute;
    left:31%;
    bottom: 39%;
    z-index: 1;
    display: none;
}
#portfolio-section .portfolio-caption p{
color: #fff;

}
#portfolio-section .portfolio-caption span{
    color: var(--red);;
    }
/********************************portfolio section****************************************End**************************************/
/********************************social section****************************************Start**************************************/
.social-section{
    background-image: url('../imgs/graphic-design/contact-form-graphic.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.social-section h1{
    color: #fff;
    letter-spacing: 0;
    font-size: 3.5rem;
}
.social-section .icon-container{
    background-color:rgba(255,255,255,0.2) ;
    border-radius: 50%;
    width:100px;
    height:100px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}
.social-section .icon-container svg{
    position: absolute;
    display: block;
    font-size: 3.2rem;
    top: 27%;
    left: 29%;
    color: #fff;
}
.social-section h5{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--red);

}
.social-section p {
    color:#fff;

}
/********************************social section****************************************End**************************************/
/********************************testimonials section****************************************Start**************************************/
.hidden {
    display: none; }
.testimonials 
{
    margin: 80px 0;

}
.testimonials .client{
    padding: 80px 0;
    text-align: center; 
}
.testimonials .client img {
width: 100px;
height: 100px;
border-radius: 50%; 
}
.testimonials .client p {
font-style: italic;
line-height: 2;
padding: 20px 0;
color: #999; 
}
.testimonials .client h5 {
color: #999;
}
.testimonials svg {
    position: absolute;
    top: 50%;
    color: #7e7e7e;
    font-size: 2.5rem;
}
.testimonials svg:hover {
    color: #f7600e;
    cursor: pointer; 
}
.testimonials .right-arrow {
    right: 0; 
}
.testimonials .left-arrow {
    left: 0; 
}
/********************************testimonials section****************************************End**************************************/


#owl-branding-key-clients .item{
    padding-top:20%;
}
#owl-branding-key-clients img{

}


.contact-form-section{
    background-image: url('../imgs/contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contact-form-section h1{
    letter-spacing: 1px;
}

.contact-form-section .contact-info{
    background-color:rgba(0,0,0,0.15);
    background-size: cover;
    background-attachment: fixed;
}
.contact-form-section .contact-form{
    background-color:rgba(0,0,0,0.15);
    background-size: cover;
    background-attachment: fixed;
}
.contact-form-section .contact-form form input,
.contact-form-section .contact-form form textarea{
    border: 1px solid transparent;
    padding: 10px;
    outline: none;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    vertical-align: baseline;
    vertical-align: middle;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.contact-form-section .contact-form form label{
    color: #e0e0e0;
    font-size: 0.8rem;
}
.contact-form-section .contact-form form textarea{
    resize: none;
}
.contact-form-section .contact-form form button{
    padding: 9px 15px;
    background-color: rgba(0,0,0,0.35);
    border: 1px solid transparent;
    border-radius: 0;
}


.footer h6{
 font-size: 0.8rem;
}
footer p{
    

}
.contact-form-section .scroll-top{
    width:29px;
    height:28px;
    position: absolute;
    bottom:0;
    left:50%;
    padding:3px;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.contact-form-section .scroll-top svg{
    color: #a3a3a3;
}
.page-head{
    position: relative;
}
.scroll-down{
    width:29px;
    height:28px;
    position: absolute;
    top: 730px;
    left:50%;
    padding:3px;
    background-color: transparent;
    z-index: 5;
}
.scroll-down svg{
    color: #fff;
}
